/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/results
/.vagrant
/.idea
/php
/nginx
/mysql
.env
.phpstorm.meta.php
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
