/node_modules
/public/storage
/storage/*.key
/vendor
/storage/results
/.vagrant
/.idea
/php
/nginx
/mysql
/certs
.env
.phpstorm.meta.php
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
/enviroment/mysql/my.cnf
/enviroment/php/php.ini
/enviroment/nginx/conf.d/app.conf
composer.phar
